Source: ros-melodic-haros-catkin
Section: misc
Priority: extra
Maintainer: G.A. vd. Hoorn (TU Delft Robotics Institute) <g.a.vanderhoorn@tudelft.nl>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-catkin-virtualenv
Homepage: https://github.com/git-afsantos/haros.git
Standards-Version: 3.9.2

Package: ros-melodic-haros-catkin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cccc, cppcheck
Description: Catkin integration for HAROS (version 3.6.0)
